<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <h2><strong>comment soni: {{commentcount}} ta</h2>
    <div class="contener">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Comment</h1>
            </div>
            <div class="col-md-9">
                        
                                <div  class="col-3">
    
                                    <div class="card">
                                        <div class="card_image">
                                            <img style="height: 200px; width: 100%;" src="{{comment_id.project_image.url}}" alt="">
                                        </div>
                                        <h1 style="margin: 2%;">{{comment_id.name}}</h1>
                                        <p style="margin: 2%;">narxi: <strong class="text-danger">{{comment_id.price}}</strong></p>
                                        <a  style="margin: 2%;" href="{{comment_id.gitHub_link}}">gitHub_link</a>
                                        <br>
                                        <p style="margin: 2%;">yonalish: <strong class="text-primary">{{comment_id.yonalish}}</strong></p>
                                        <p style="margin: 2%;">{{comment_id.data}}</p>
                                        <span><i class="fa-solid fa-eye"></i>
                                            <p>{{ commentview.view }}</p>
                                        </span>
                                        
                                    </div>
                                </div>
                                    
                                    <form  action="{% url 'comment' comment_id.id %}" method="POST">
                                    {% csrf_token %}
                
                                        {% for f in form %}
                                        <div class="col-md-6">
                                            <p>{{f.label}}</p>
                                            <div class="mt-3">{{f}}</div>
                                        </div>
                                        {% endfor %}
                                        <button class="btn btn-primary">Saqlash</button>
                                    </form>
                            
                                
                <br>
            </div>
            <div class="col-3">
                {% for comment in comment_data  %}
                <div>
                    <div class="col-2">
                        {% if comment.user_profile_image %}
                        <img style="height: 50px; width: 50px;" src="{{comment.user_profile_image.url}}" alt="">
                        {% endif %}
                    </div>
                </div>
                <div>
                    <h2>{{comment.ism}}</h2>
                    <p>{{comment.comment}}</p>
                    <p>{{comment.data}}</p>
                </div>
                    
                {% endfor %}
            </div>
            
        </div>
    </div>
    
    
    {% endblock content %}
</body>
</html>